{
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "proseWrap": "always",
                "printWidth": 120,
                "tabWidth": 2
            }
        }
    ]
}
